<main class="main-container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/2771/2771402.png" alt="" width="72" height="57">
    <h2>Formulario de Registro</h2>
    <p class="lead" *ngIf="!tipoSeleccionado">Por favor, seleccione si desea registrarse como especialista o paciente.</p>
  </div>

  <!-- Selección de tipo de usuario: Especialista, Paciente o Administrador -->
  <div *ngIf="!tipoSeleccionado" class="d-flex justify-content-center mb-4">
    <div class="m-3">
      <img src="https://i.postimg.cc/hPdp3BYs/doctor-icon-134827.png" alt="Especialista" class="img-fluid pointer" (click)="seleccionarTipo('especialista')" />
      <p class="text-center">Especialista</p>
    </div>
    <div class="m-3">
      <img src="https://i.postimg.cc/VNDRbLSf/fever-thermometer-coronavirus-virus-icon-134832.png" alt="Paciente" class="img-fluid pointer" (click)="seleccionarTipo('paciente')" />
      <p class="text-center">Paciente</p>
    </div>
    <div class="m-3" *ngIf="authService.ITEM_ACCESOS.isAdmin">
      <img src="https://i.postimg.cc/J09K46sj/manager-icon-129392.png" alt="Administrador" class="img-fluid pointer" (click)="seleccionarTipo('administrador')" />
      <p class="text-center">Administrador</p>
    </div>
  </div>

  <!-- Formulario de Registro -->
  <div *ngIf="tipoSeleccionado">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <app-tabla-especialidades *ngIf="esEspecialista" [especialidades]="especialidades" (especialidadesSeleccionadas)="actualizarEspecialidades($event)"></app-tabla-especialidades>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Datos del Usuario</h4>
        <form [formGroup]="formularioRegistro" (ngSubmit)="alEnviar()" class="needs-validation" novalidate>
          <div class="row g-3">
            <!-- Nombre -->
            <div class="col-sm-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" [ngClass]="{'is-invalid': isFieldInvalid('nombre')}" />
              <div class="invalid-feedback">
                <span *ngIf="formularioRegistro.get('nombre')?.errors?.['pattern']">Solo se permiten letras.</span>
              </div>
            </div>

            <!-- Apellido -->
            <div class="col-sm-6">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellido" formControlName="apellido" [ngClass]="{'is-invalid': isFieldInvalid('apellido')}" />
              <div class="invalid-feedback">
                <span *ngIf="formularioRegistro.get('apellido')?.errors?.['pattern']">Solo se permiten letras.</span>
              </div>
            </div>

            <!-- Edad -->
            <div class="col-12">
              <label for="edad" class="form-label">Edad</label>
              <input type="number" class="form-control" id="edad" formControlName="edad" [ngClass]="{'is-invalid': isFieldInvalid('edad')}" />
              <div class="invalid-feedback">
                <span *ngIf="formularioRegistro.get('edad')?.errors?.['min']">Debe tener al menos 22 años.</span>
              </div>
            </div>

            <!-- DNI -->
            <div class="col-12">
              <label for="dni" class="form-label">DNI</label>
              <input type="text" class="form-control" id="dni" formControlName="dni" [ngClass]="{'is-invalid': isFieldInvalid('dni')}" />
              <div class="invalid-feedback">
                <span *ngIf="formularioRegistro.get('dni')?.errors?.['pattern']">Debe ser numérico (7-8 dígitos).</span>
              </div>
            </div>

            <!-- Correo Electrónico -->
            <div class="col-12">
              <label for="correo" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="correo" formControlName="correo" [ngClass]="{'is-invalid': isFieldInvalid('correo')}" />
              <div class="invalid-feedback">
                <span *ngIf="formularioRegistro.get('correo')?.errors?.['email']">Formato inválido.</span>
              </div>
            </div>

            <!-- Contraseña -->
            <div class="col-12">
              <label for="contraseña" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="contraseña" formControlName="contraseña" [ngClass]="{'is-invalid': isFieldInvalid('contraseña')}" />
              <div class="invalid-feedback">
              </div>
            </div>

            <!-- Campos adicionales -->
            <div *ngIf="esAdmin" class="col-12">
              <label for="imagenAdmin" class="form-label">Imagen de Perfil (Admin)</label>
              <input type="file" id="imagenAdmin" (change)="onFileChange($event, 'imagenAdmin')" />
            </div>

            <div *ngIf="esPaciente" class="col-12">
              <label for="obraSocial" class="form-label">Obra Social</label>
              <input type="text" class="form-control" id="obraSocial" formControlName="obraSocial" [ngClass]="{'is-invalid': isFieldInvalid('obraSocial')}" />
            </div>

            <!-- Captcha -->
            <div class="my-3">
              <re-captcha 
                [siteKey]="'6Ld_5ocqAAAAAP98yHOMMVPnryTzMVD_UkQhFi2H'" 
                formControlName="captcha"
                (resolved)="onCaptchaResolved($event)">
              </re-captcha>
              <div class="text-warning" *ngIf="formularioRegistro.get('captcha')?.invalid && formularioRegistro.touched">
                Por favor, valide el CAPTCHA antes de continuar.
              </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="formularioRegistro.invalid || !captchaValidado">
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
